@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Poppins:wght@300;400;500&display=swap");
@font-face {
  font-family: "Giordano Gold Serif";
  src: url("../font/Giordano Gold Serif.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
