@use "sass:color";

$font-family-base: "Cormorant", serif;
$font-family-infant: "Cormorant Infant", serif;
$font-family-sc: "Cormorant SC", serif;
$font-family-unicase: "Cormorant Unicase", serif;
$font-family-upright: "Cormorant Upright", serif;

$body-font-family: $font-family-base;
$heading-font-family: $font-family-unicase;
$secondary-font-family: $font-family-infant;

$font-size-root: 16px;

$white-color: #ffffff;
$black-color: #111111;
$background-color: #f9f6f2;

$offwhite-color: #f9f6f2;
$beige-color: #efe6da;
$nude-color: #e8d9cc;

$text-color: #4a3f35;
$muted-gray: #6b6763;
$soft-gray: #635a53;
$light-gray: #8c8c8c;

$copper-solid: #b46a41;
$copper-light: #c57a4f;
$copper-dark: #3b2318;
$copper-medium: #b86a3f;

$gold-color: #c5a46d;
$light-gold-color: #e2cfa9;
