@use "sass:color";

$body-font-family: "Work Sans", sans-serif;
$heading-font-family: "Playfair Display", serif;
$handwriting-font-family: "Milton Two", serif;

$font-size-root: 16px;

$white-color: #ffffff;
$black-color: #111111;
$offwhite-color: #f9f6f2;
$beige-color: #efe6da;
$nude-color: #e8d9cc;
$gold-color: #c5a46d; 
$light-gold-color: #e2cfa9;
$background-color: $offwhite-color;
$text-color: #3e3e3e;
$muted-gray: #8c8c8c;
