@use "vuetify/styles";
@use "~/assets/scss/_variables.scss" as vars;
@use "sass:color";

html,
body {
  background: vars.$background-color;
  color: vars.$text-color;
  font-family: vars.$body-font-family;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.section-title {
  margin: 2rem 0;
  font-size: 3rem;
  text-align: center;
  color: vars.$gold-color;
  font-family: vars.$heading-font-family;
  letter-spacing: 1px;
  text-transform: uppercase;
}

a {
  color: vars.$gold-color;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    color: color.adjust(vars.$gold-color, $lightness: -10%);
  }
}

button {
  background-color: vars.$gold-color;
  color: vars.$white-color;
  border: none;
  border-radius: 30px;
  padding: 0.75rem 2rem;
  cursor: pointer;
  font-family: vars.$heading-font-family;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;

  &:hover {
    background-color: color.adjust(vars.$gold-color, $lightness: -10%);
  }
}

.portfolio-container {
  max-width: 64rem;
  margin: 0 auto;
}

.container {
  padding: 0;
}

@media screen and (max-width: 767px) {
  .section-title {
    font-size: 2.2rem;
    line-height: 2.8rem;
  }
}
